﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Movie Monkeys</title>
    <link href="~/dist/lib/css/libs.css?v=@DateTime.Now.Ticks" rel="stylesheet"/>
    <link href="~/dist/css/site.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/dist/lib/js/libs.js?v=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="~/dist/js/site.js?v=@DateTime.Now.Ticks"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
