﻿@using MovieMonkey.Web.ViewModels.Search
@model MovieMonkey.Web.ViewModels.MovieDetails.MovieViewModel

@{
    ViewBag.Title = Model.MovieDetails.Title;
    Layout = "../Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Partials/_TopBar.cshtml", new SearchQueryViewModel())

<div class="content-wrapper">
    <a href="@Model.BackToSearchResultsUrl" class="navbar-link">
        <i class="icon icon-search"></i>&nbsp;Back to search results
    </a>    
</div>

<div class="details-container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 details-image">
            <img class="img-responsive" src="https://images4.alphacoders.com/814/81446.jpg" style="width: 100%;" />
            @*<img class="img-responsive" src="@Model.Poster" />*@
            <div class="text-center details-price">
                <h3>Price: @Model.MovieDetails.Price</h3>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 details-info">
            <h3>@Model.MovieDetails.Title</h3>
            <div class="side-gutters"><strong>Year: </strong>@Model.MovieDetails.Year</div>
            <div class="side-gutters"><strong>Rated: </strong><span class="box-icon rated-PG">@Model.MovieDetails.Rated</span></div>
            <div class="side-gutters"><strong>Released: </strong>@Model.MovieDetails.Released</div>
            <div class="side-gutters"><strong>Runtime: </strong><span class="box-icon run-time">@Model.MovieDetails.Runtime</span></div>
            <div class="side-gutters"><strong>Rating: </strong><span class="box-icon rating">@Model.MovieDetails.Rating</span></div>
            <div class="side-gutters"><strong>Votes: </strong><span class="box-icon vote">@Model.MovieDetails.Votes</span></div>
            <div class="side-gutters"><strong>Genre: </strong>@Model.MovieDetails.Genre</div>
            <div class="side-gutters"><strong>Director: </strong>@Model.MovieDetails.Director</div>
            <div class="side-gutters"><strong>Writer: </strong>@Model.MovieDetails.Writer</div>
            <div class="side-gutters"><strong>Actors: </strong>@Model.MovieDetails.Actors</div>
            <div class="side-gutters movie-plot-wrapper"><strong>Plot: </strong><span class="plot-content">@Model.MovieDetails.Plot&nbsp;<a href="#" class="plot-readmore">Read more</a></span></div>
            <div class="side-gutters"><strong>Language: </strong>@Model.MovieDetails.Language</div>
            <div class="side-gutters"><strong>Country: </strong>@Model.MovieDetails.Country</div>
            <div class="side-gutters"><strong class="bold-text">Metascore: </strong>@Model.MovieDetails.Metascore</div>
        </div>
    </div>
</div>