﻿@model MovieMonkey.Web.ViewModels.Search.SearchQueryViewModel

@{
    ViewBag.Title = "Movie Monkey - Find cheapest movies from different providers";
    Layout = "../Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Home"))
{
    <div class="home-container">
        <div class="search-container">
            <h1>Movie Monkey</h1>
            <h3>Find cheapest movies from different providers</h3>
            <div class="input-group input-group-lg">
                @Html.TextBoxFor(x => x.Keywords, new
                {
                    @class = "form-control",
                    @placeholder = "Search",
                    aria_describedby = "basic-addon2"
                })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="icon icon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
}
