﻿@model MovieMonkey.Web.ViewModels.Search.ProviderViewModel
    @{
        Layout = null;
    }
<div class="checkbox">
    <label>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Name)
        @Html.CheckBoxFor(x => x.Selected)
        @Html.DisplayFor(x => x.Name)
    </label>
</div>