html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: HelveticaNeue,Arial,sans-serif;
}

a {
  color: $font-colour-white;
  text-decoration: none;
  border: none;
  &:hover {
    color: $font-colour-white;
    text-decoration: none;
    border: none;
  }
  &:visited {
    color: $font-colour-white;
    text-decoration: none;
    border: none;
  }
}
.left-content {
  float: left;
}
.right-content {
  float: right;
}
.right-gutter {
  margin-right: $right-gutter;
}
.side-gutters {
  margin: $side-gutter;
}
.bold-text {
  font-weight: 600;
}

.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
}
.sidebar-nav {
  position: fixed;
  width: 0;
  min-height: 300px;
  top: 0;
  right: 0;
  background-color: #efefef;
  z-index: 10000;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width .5s;
  background-color: #AA00FF;
  &.active {
    width: 300px;
    @media #{$mq-xsmall-portrait} {
      width: 100%;
      height: 50%;
    }
  }
  .sidebar-content {
    padding: 10px;
    margin-bottom: 10px;
    .sidebar-content-header {
      margin-bottom: 20px;
    }
    .sidebar-content-body {
      padding: 0 10px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          font-size: $font-large;
          line-height: 30px;
        }
      }
    }
  }
}
.overlay-cover {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
}
