// .btn {
//   border: 1px solid $accent-green-A200;
//   border-radius: $input-control-border-radius;
//   background-color: $accent-green-A200;
//   padding: 5px 13px;
//   color: $font-accent-green;
//   font-weight: 600;
//   font-size: $font-large;
//
//   &.btn-md {
//     width: 150px;
//   }
//
//   &.btn-sm {
//     font-size: $font-small;
//     display: inline-block;
//   }
//
//   &:hover {
//     background-color: $accent-green-A200-hover;
//     color: $font-accent-green;
//     text-decoration: none;
//   }
// }
