.details-container {
  margin: 0;
  background-color: $accent-purple-800;
  color: $font-colour-white;
  padding:  0 20px 10px 10px;
  .details-image {
    margin-top: 20px;
    padding: 0 0 0 10px;
  }
  .details-info {

  }
  .details-price {
    background-color: $accent-green-A200;
    color: $font-gray;
    padding: 3px 3px 9px 3px;
  }
  .movie-plot-wrapper {
    height: 22px;
    a {
      padding: $side-gutter;
      border-radius: $side-gutter;
      background-color: $bg-colour-gray;
      color: $primary-text-color;
    }
  }
}
.content-wrapper {
  margin: 70px 20px 10px 20px;
  a {
    color: $secondary-text-color;
  }
}
.box-icon {
  padding: 3px 5px;
  &.rated-PG {
    background-color: #0061A0;
  }
  &.rated-MA15 {
    background-color: #ff0000;
  }
  &.rated-G {
    background-color: #0DB14B;
  }
  &.rated-M {
    background-color: #00ADEE;
  }
  &.rated-R18 {
    background-color: #000000;
  }
  &.rating {
    background-color: #EF6C00;
  }
  &.vote {
    background-color: #F44336;
  }
  &.run-time {
    background-color: #757575;
  }
}
