@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m5n930');
  src:  url('../fonts/icomoon.eot?m5n930#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m5n930') format('truetype'),
    url('../fonts/icomoon.woff?m5n930') format('woff'),
    url('../fonts/icomoon.svg?m5n930#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-chevron-down:before {
  content: "\f0a3";
}
.icon-chevron-right:before {
  content: "\f078";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-list-ordered:before {
  content: "\f062";
}
.icon-cancel:before {
  content: "\e900";
}
