.home-container {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/homebg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  width: 100%;
  height:0;
  padding-top: 55.5%;/* (img-height / img-width * container-width) */

  @media #{$mq-xxsmall-portrait} {
    padding-top: 177.3%;
  }
  @media #{$mq-xxsmall-landscape} {
    padding-top: 55.3%;
  }
  @media #{$mq-xsmall-portrait} {
    padding-top: 177.5%;
  }
  @media #{$mq-xsmall-landscape} {
    padding-top: 55.3%;
  }
  @media #{$mq-small-portrait} {
    padding-top: 133.3%;
  }
  // @media #{$mq-small-landscape} {
  //   padding-top: 74.5%;
  // }
  @media #{$mq-medium-portrait} {
    padding-top: 133.3%;
  }
  // @media #{$mq-medium-landscape} {
  //   padding-top: 74.5%;
  // }
  @media #{$mq-large-portrait} {
    padding-top: 176.86%;
  }
  @media #{$mq-large-landscape} {
    padding-top: 55.2%;
  }

  .search-container {
    position: absolute;
    top:25%;
    left:23%;
    width: 52%;
    margin: auto 0;
    text-align: center;
    color: $secondary-text-color;
    @media #{$mq-xxsmall-portrait} {
      left:5%;
      width: 90%;
    }
    @media #{$mq-xxsmall-landscape} {
      left:5%;
      width: 90%;
    }
    @media #{$mq-xsmall-portrait} {
      left:5%;
      width: 90%;
    }
    @media #{$mq-xsmall-landscape} {
      left:5%;
      width: 90%;
    }
    @media #{$mq-small-portrait} {
      left:5%;
      width: 90%;
    }
    @media #{$mq-small-landscape} {
      left:5%;
      width: 90%;
    }
  }
}
