@mixin media-query($media-query, $max: false){
  $minMax: "min";
  @if $max {
    $minMax: "max";
  }
  @if $media-query == lg {
    @media only screen and (#{$minMax}-width: $screen-lg) { @content; }
  }

  @if $media-query == md {
    @media only screen and (#{$minMax}-width: #{$screen-md}) { @content; }
  }

  @if $media-query == sm {
    @media only screen and (#{$minMax}-width: #{$screen-sm}) { @content; }
  }

  @if $media-query == xs {
    @media only screen and (#{$minMax}-width: #{$screen-xs}) { @content; }
  }
}
