.top-bar-primary {
  background-color: $accent-purple-800;
  color: $font-colour-white;
  height: 60px;
  padding: 12px 10px 8px 10px;
  font-size: $font-large;
  display: block;
  overflow: hidden;
}
.top-bar-secondary {
  background-color: $accent-purple-700;
  color: $font-colour-white;
  height: 40px;
  padding: 11px 0;
  font-size: $font-base;
  margin-top: 60px;
  .search-filter {
    cursor: pointer;
  }
  .search-sort {
    cursor: pointer;
  }
}

.refinement {
  background-color: $primary-purple-500;
  color: $font-colour-white;
  padding: 5px 20px 20px;
  display: none;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;

  &.active {
     display: block;
     transform: scale(1);
     opacity: 1;
     animation: anim .3s ease-in-out;
   }
}
@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.search-results-container {
  margin: 5px 20px;

  .result-header {
    padding: 0;
  }
  .result-card {
    background-color: $primary-purple-500;
    border: solid 1px $font-colour-white;
    margin-bottom: 20px;

    .card-header {
      text-align: center;
    }
    .card-image {

    }
    .card-body {
      text-align: center;
      color: $font-colour-white;
      color: $accent-green-A200-hover;
      overflow: hidden;
      .secondary-content {
        margin-bottom: 10px;
        position: relative;
        top: -5px;
        color: #fff;
        font-style: italic;
        font-size: .85em;
      }
    }
    .card-footer {
      overflow: hidden;
      display: block;
      font-size: .95em;
      text-align: center;
      padding-bottom: 10px;
    }
  }

}
