$primary-purple-500:        #9B26AF;
$accent-purple-700:         #7A1EA1;
$accent-purple-800:         #691A99;
$accent-green-A200:         #68EFAD;
$accent-green-A200-hover:   #7DF2B8;

$font-colour-white:     #fff;
$font-accent-green:     #306E50;
$accent-color-blue:     #536DFE;
$font-gray:             #616161;
$bg-colour-gray:        #ccc;
$primary-text-color:    #212121;
$secondary-text-color:  #757575;

$input-control-border-radius: 5px;
$input-control-height: 2.5em;
$input-control-line-height: 1.5em;

$right-gutter: 10px;
$side-gutter: 3px;

$font-base:     1em;
$font-xsmall:   $font-base*0.5;
$font-small:    $font-base*0.75;
$font-large:    $font-base*1.5;
$font-xlarge:   $font-base*2;

// Breakpoints
$bp-xxsmall: 320px;
$bp-xsmall: 480px;
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1366px;
$bp-xlarge: 1920px;

// Media Queries
$mq-xxsmall-portrait: "(max-width: #{$bp-xxsmall}) and (orientation:portrait)";
$mq-xxsmall-landscape: "(max-width: #{$bp-xxsmall}) and (orientation:landscape)";
$mq-xsmall-portrait: "(max-width: #{$bp-xsmall}) and (orientation:portrait)";
$mq-xsmall-landscape: "(max-width: #{$bp-xsmall}) and (orientation:landscape)";
$mq-small-portrait: "(max-width: #{$bp-small}) and (orientation:portrait)";
$mq-small-landscape: "(max-width: #{$bp-small}) and (orientation:landscape)";
$mq-medium-portrait: "(max-width: #{$bp-medium}) and (orientation:portrait)";
$mq-medium-landscape: "(max-width: #{$bp-medium}) and (orientation:landscape)";
$mq-large-portrait: "(max-width: #{$bp-large}) and (orientation:portrait)";
$mq-large-landscape: "(max-width: #{$bp-large}) and (orientation:landscape)";
$mq-xlarge-portrait: "(max-width: #{$bp-xlarge}) and (orientation:portrait)";
$mq-xlarge-landscape: "(max-width: #{$bp-xlarge}) and (orientation:landscape)";
