﻿@model MovieMonkey.Web.ViewModels.Search.PaginationViewModel

<div class="row text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.CanGoPrevious)
            {
                <li>
                    <a href="@Model.GoPreviousUrl" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            }

            @foreach (var page in Model.PageWindow)
            {
                if (page.Selected)
                {
                    <li class="active">
                        <span>@page.Display<span class="sr-only">(current)</span></span>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@page.PageUrl">@page.Display</a>
                    </li>
                }
            }

            @if (Model.CanGoNext)
            {
                <li>
                    <a href="@Model.GoNextUrl" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            }
        </ul>
    </nav>
</div>
