﻿@model MovieMonkey.Web.ViewModels.Search.SearchResponseViewModel

@using (Html.BeginForm("IndexAsync", "Search", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SearchRequest.Limit)
    @Html.HiddenFor(x => x.SearchRequest.Offset)
    @Html.HiddenFor(x => x.SearchRequest.Sort)
    <div class="refinement">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4>Providers</h4>
                @Html.EditorFor(x => x.SearchRequest.Providers)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4>Price Range</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">$</span>
                            @Html.TextBoxFor(x => x.SearchRequest.MinPrice, new {@class = "form-control", @placeholder = "Min Price"})
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">$</span>
                            @Html.TextBoxFor(x => x.SearchRequest.MaxPrice, new { @class = "form-control", @placeholder = "Max Price" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4>Keywords</h4>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group form-group-sm">
                            @Html.TextBoxFor(x => x.SearchRequest.Keywords, new { @class = "form-control" })
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="submit" class="btn btn-primary btn-sm" value="Update">
            </div>
        </div>
    </div>
}


