﻿@using MovieMonkey.Core.Extensions
@model MovieMonkey.Web.ViewModels.Search.SearchResponseViewModel
<div class="search-results-container">
    <div class="row result-header">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Found @Model.Total movies</h1>
        </div>
    </div>
    @Html.Partial("~/Views/Partials/_Pagination.cshtml", Model.Pagination)
    <div class="row">
        @foreach (var item in Model.SearchResults)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="/details/@item.Id/@item.Title.ToSeoUrl(true)">
                    <div class="result-card">
                        <div class="card-image">
                            <img class="img-responsive" style="width: 100%;" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDRkYzA4OGYtOTBjYy00YzFiLThhYmYtMWUzMDBmMmZkM2M3XkEyXkFqcGdeQXVyNDYyMDk5MTU@('@')._V1_SX300.jpg" />
                        </div>
                        <div class="card-header">
                            <h3>@item.Title</h3>
                        </div>
                        <div class="card-body">
                            <h3>@item.Price</h3>
                            <div class="secondary-content">
                                <strong>Rating: </strong><span class="box-icon rating">@item.Rating</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            Year: @item.Year | Runtime: @item.Runtime | Provider: @item.Provider
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    @Html.Partial("~/Views/Partials/_Pagination.cshtml", Model.Pagination)
</div>
