﻿<div class="sidebar-nav">
    <div class="sidebar-content">
        <div class="sidebar-content-header">
            <div class="">
                <span>
                    <a href="#" class="overlay-sidebar-close"><i class="icon icon-cancel"></i></a>
                </span>
            </div>
        </div>
        <div class="sidebar-content-body">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Project Assumptions</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="overlay-cover"></div>
