﻿@model MovieMonkey.Web.ViewModels.Search.SearchQueryViewModel


@using (Html.BeginForm("Index", "Home"))
{
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="top-bar-primary">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    <a href="/"><i class="icon icon-home3"></i></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.Keywords, new {@class = "form-control", @placeholder = "Find cheapest movies from different providers", aria_describedby = "basic-addon2"})
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="icon icon-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="text-align: right;">
                    <a href="#" class="overlay-sidebar"><i class="icon icon-menu"></i></a>
                </div>
            </div>
        </div>
    </nav>
}

@Html.Partial("~/Views/Partials/_SidebarNav.cshtml")