﻿@model MovieMonkey.Web.ViewModels.Search.SearchResponseViewModel
<div class="top-bar-secondary">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <span class="left-content search-filter">
            <i class="icon icon-filter"></i>
            Filters&nbsp;
            <i class="icon icon-chevron-right"></i>
        </span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <div class="dropdown left-content search-sort">
            <span class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="icon icon-sort-amount-desc"></i>&nbsp;Sort
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                @foreach (var item in Model.SortOption.Options)
                {
                    <li class="@(item.Selected ? "active" : string.Empty)">
                        <a href="@item.Url">@item.Display</a>
                    </li>
    }
            </ul>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <div class="dropdown left-content search-sort">
            <span class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="icon icon-list-ordered"></i>&nbsp;Display
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                @foreach (var item in Model.DisplayLimit.DisplayLimits)
                {
                    <li class="@(item.Selected ? "active" : string.Empty)">
                        <a href="@item.Url">@item.Display</a>
                    </li>
    }

            </ul>
        </div>
    </div>
</div>
